# Python
backend/myvenv/
backend/.venv/
**/__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.env
.DS_Store

# Flutter
frentend/build/
frentend/.dart_tool/
frentend/.packages
frentend/pubspec.lock
frentend/.flutter-plugins
frentend/.flutter-plugins-dependencies
frentend/.idea/

# IDE
.vscode/
.idea/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
